{% extends 'layout/base_hf.html' %}

{% block title %} Việc làm đã lưu {% endblock %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'job/css/reset.css' %}" type="text/css"/>
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'job/css/saved_job.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'job/css/style.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
    <section>
        <div class="box d-flex ">
            <div class="box__left col-8">
                <div class="tittle">
                    <img src="{% static 'job/images/bg.jpg' %}" alt="">
                    <div class="tittle__box container">
                        <h3 class="text-light">Việc làm đã lưu</h3>
                        <p class=" pt-3">Xem lại danh sách những việc làm mà bạn đã lưu trước đó. Ứng tuyển ngay để không bỏ lỡ cơ hội nghề
                            nghiệp dành cho bạn.</p>
                    </div>
                </div>
                <div class="jobapply">
                    <div class="jobapply__tittle">
                        <img src="{% static 'job/images/lsut/1.png' %}" alt="">
                        <p>Bạn chưa lưu công việc nào!</p>
                        <button type="button" class="btn btn-info mt-4">Tìm việc ngay</button>
                    </div>
                </div>
            </div>
            <div class="box__right col-4">
                <!-- có thể quan tâm-->
                <div class="takecare">
                    <p class="fw-bold">Có thể bạn quan tâm</p>
                    <div>
                        <img src="https://cdn-new.topcv.vn/unsafe/500x/filters:format(webp)/https://static.topcv.vn/company_covers/2lAQQ7FpkWGG7z9HsAi5.jpg"
                             alt="">
                        <p class="fw-bold">Công ty SaiLun Việt Nam</p>
                        <div class="takecare__item">
                            <p>Quản trị viên tập sự 2023(Tốt nghiệp Cao Đẳng)</p>
                            <div class="pt-3">
                            <span>
                                <i class="fi fi-rr-usd-circle"></i>
                                Trên 8.5 triệu
                            </span>
                                <span>
                                <i class="fi fi-rr-clock-three"></i>
                                30/11/2023
                            </span>
                            </div>
                        </div>
                        <div class="takecare__item">
                            <p>Team Leader Human Resources (Tuyển dụng, Đào tạo)</p>
                            <div class="pt-3">
                            <span>
                                <i class="fi fi-rr-usd-circle"></i>
                                Trên 14 triệu
                            </span>
                                <span>
                                <i class="fi fi-rr-clock-three"></i>
                                30/11/2023
                            </span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-info mt-4">Tìm hiểu ngay</button>
                    </div>
                </div>
                <img class="mt-4" src="{% static 'job/images/ad.jpg' %}" alt="">
            </div>
        </div>
    </section>
{% endblock %}