{% extends 'layout/base.html' %}

{% block title %} Đăng ký tài khoản {% endblock %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'user/css/register.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="wrap-auth-section">
        <div class="auth">
            <div class="header">
                <h3>Chào mừng bạn đến với BlueCC.</h3>
                <p>Cùng xây dựng một hồ sơ nổi bật với cơ hội sự nghiệp lý tưởng.</p>
            </div>
            <form method="post" action="" class="register-form">
                <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Họ và tên:</label>
                    <div class="form-wrapper">
                        <i class="fi fi-sr-circle-user"></i>
                        <input class="form-control" placeholder="Nhập họ tên" name="hoten">
                    </div>

                </div>
                <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Email:</label>
                    <div class="form-wrapper">
                        <i class="fi fi-sr-envelope"></i>
                        <input type="email" class="form-control" id="email" placeholder="Nhập email" name="email">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Mật khẩu:</label>
                    <div class="form-wrapper">
                        <i class="fi fi-sr-lock"></i>
                        <input type="password" class="form-control" id="pwd" placeholder="Nhập mật khẩu" name="pswd">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="confirm" class="form-label">Xác nhận mật khẩu:</label>
                    <div class="form-wrapper">
                        <i class="fi fi-sr-lock"></i>
                        <input type="password" class="form-control" id="confirm" placeholder="Nhập lại mật khẩu"
                               name="pswd">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Đăng ký</button>
                <div class="form-check mb-3">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="remember"> Tôi đã đọc và đồng ý
                        với Điều khoản dịch vụ và Chính sách bảo mật của BlueCC.
                    </label>
                    <p class="or text-center">Hoặc đăng ký bằng</p>
                </div>
            </form>

            <div class="login-social-list">
                <a id="login-google" class="btn-signin">
                    <i class="fi fi-brands-google"></i>
                    <span>Google</span>
                </a>
                <a id="login-facebook" class="btn-signin">
                    <i class="fi fi-brands-facebook"></i>
                    <span>Facebook</span>
                </a>
            </div>
            <div class="not-account text-center">
                <span>Bạn đã có tài khoản? </span>
                <a href="{% url 'sign-in' %}">Đăng nhập ngay</a>
            </div>
            <div class="support text-center">
                <p>Bạn gặp khó khăn khi đăng ký?</p>
                <p>Vui lòng liên hệ <a href="#">0123456789</a> để được hỗ trợ.</p>
            </div>
            <div class="copy-right text-center">©️ 2023. All Rights Reserved. BlueCC VietNam</div>
        </div>
        <div class="bg-right">
            <div class="bg-right-abs">
                <a href="{% url 'home' %}">BLUECC</a>
                <h1 class="italic">Làm việc để trở thành<br/>
                    Không phải để đạt được.</h1>
                <p>BlueCC - Hệ sinh thái nhân sự tiên phong ứng dụng công nghệ tại Việt Nam.</p>
            </div>
        </div>
    </div>
{% endblock %}