{% extends 'layout/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" type="text/css"/>
{% endblock %}

{% block header %}{% include 'layout/header.html' %}{% endblock %}

{% block footer %}{% include 'layout/footer.html' %}{% endblock %}

{% block body %}
    {{ block.super }}
    <div class="my_alert my_alert--hidden">
        <div class="alertbox alertbox--info">
            {% csrf_token %}
            <input id="email" type="hidden" name="email" value="{{ request.user.email }}" readonly/>
            <div class="alertbox__icon"><i class="fa-solid fa-circle-info"></i></div>
            <div class="alertbox__title"><h2>Xác thực tài khoản</h2></div>
            <div class="alertbox__text">Bạn muốn xác thực tài khoản?</div>
            <div class="alertbox__btn btns">
                <div onclick="removeAlertBox(); sendVerificationEmail('{{ request.user.email }}');"
                     class="button button--size-s">
                    <button class="btn-confirm" type="submit" style="background: transparent; color: white;">Xác thực</button>
                </div>
                <div onclick="removeAlertBox();" class="button button--size-s">Huỷ</div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container pt-5 pb-5">
        <div class="row">
            {% block box_left %}
                <div class="col-sm-8">
                    {% block form %}{% endblock %}
                </div>
            {% endblock %}
            {% block box_right %}
                <div class="col-sm-4">
                    <div class="profile">
                        <div class="profile-info d-flex">
                            <img src="{{ request.user.avatar }}" alt="Avatar của {{ request.user.full_name }}" class="align-self-center"/>
                            <div class="container pt-3">
                                <p style="margin-bottom:0;">Chào bạn,</p>
                                <p class="fw-bold" style="margin-bottom:0;">{{ request.user.full_name }}</p>
                                {% if user_email_verified %}
                                    <span class="text-secondary d-block medium-text text-success">Tài khoản đã xác thực</span>
                                {% elif request.user.is_superuser %}
                                    <span class="text-secondary d-block medium-text text-info">Tài khoản Admin</span>
                                {% else %}
                                    <span class="text-secondary d-block medium-text text-danger">Tài khoản chưa được xác thực</span>
                                    <span class="btn-verify profile-confirm d-block small-text btn btn-outline-info">
                                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i> Xác thực
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        <!---------------->
                        <div class="container">
                            <p class="small-text"><i class="fa fa-check-circle" aria-hidden="true"
                                                     style="color: #38aecc;"></i> Nhắn tin qua Blue Connect trên BlueCC</p>
                            <p class="small-text"><i class="fa fa-check-circle" aria-hidden="true"
                                                     style="color: #38aecc"></i> Email và Số điện thoại của bạn</p>
                        </div>
                        <img class="container pt-3" src="{% static 'settings/images/BlueCCCardboard.png' %}" alt="">
                        <div class="">
                            <p class="container pt-3 small-text text-secondary">
                                <i class="fa fa-info-circle" aria-hidden="true" style="color:#38aecc"></i> Bạn cần hoàn
                                thiện trên 70% CV Profile để bắt đầu tiếp cận với nhà tuyển dụng
                            </p>
                        </div>
                        <a href="{% url 'cv_management' %}">
                            <button type="button" class="btn btn-outline-info ms-2">Cập nhật CV</button>
                        </a>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}